# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend
*/node_modules
key.js
# backend
*/__pycache__
.env
# testing
/coverage

# misc
.DS_Store

*.pyc