.nav-header{
    width: 100%;
    height: 65px;
    position: relative;
    line-height: 65px;
    text-align: center;
    background-color: #61C0BF;
}

.nav-header div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav-header div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    /* text-transform: uppercase; */
}

.nav-header div.logo a:hover {
    color: #c0c0c0;
}

.nav-header div.main_list{
    width: auto;
    height: 65px;
    float: right;
}

.nav-header div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    
}

.nav-header div.main_list ul li{
    width: auto;
    height: auto;
    margin: 3px;
    border: 1.5px;
}

.nav-header div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    /* text-transform: uppercase; */
}

.nav-header div.main_list ul li a:hover{
    color: #c0c0c0;
}