
.location_name {
    /* style={{width: '50px', textAlign: 'center', backgroundColor:'#FFFFFF', border:'solid 1px #288BA8'}} */
    font-size: 3px;
    overflow: hidden;
    width: 100px;
    max-height: 50px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
    border-style: solid;
    border-color: #288BA8;
    border-width: thin;
    padding: 3px;
  }
  
  .location_icon {
    max-height: 20px !important;
    max-width: 20px !important;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .container2{
    display: flex;
    /* 排版方向 */
    flex-direction: row; 
    /* 水平方向對齊模式 */
    /* justify-content: center;   */
    /* 垂直方向對齊模式  */
    /* align-items: center;  */
  }
  
  .map{
    height: 95vh;
    width: 100vw;
  }
  
  .searchbar{
    display: flex;
    flex-direction: row; 
    margin: 10px 0;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 18px;
    color: #1f7357e7;
    /* font-weight: 500; */
  }
  
  .info_sidebar{
    display: block;
    margin-right: 5px;
    padding: 8px;
    overflow: auto;
    width: 600px;
    height: 700px;
  }
  
  .BoxText1 {
    border: 1.5px solid rgb(210, 207, 207);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding:5px; /* boarder內和內容之間 */
    width:auto;
    margin:10px 0px; /* boarder外面 */
  }
  
  /* .other_tag input[type=checkbox] {
    outline: 2px solid #c00;
    margin-left: 5%;
  }
  
  .other_tag label {
    outline: 2px solid rgb(95, 0, 204);
    margin-left: 5%;
    width: 50px;
  } */
  
  input[type=button] {
    border-radius: 10px;
    border: 2 px;
    border-color: darkgray;
    background-color: #FFFFFF;
    padding: 0 4px 0 4px;
    margin-left: 8px;
  }
  
  input[type=text] {
    margin-right: 8px;
    border: 6px;
    /* border-radius: 10px; */
    box-shadow: #00000029 1px 1px 5px;
    /* border-width: 1.5px; */
  }

  .select-box {
    margin: 0 8px;
    /* border-width: 1.5px; */
  }

  label{
    margin: 3px 5px 0 1px;
  }