
.location_name {
    /* style={{width: '50px', textAlign: 'center', backgroundColor:'#FFFFFF', border:'solid 1px #288BA8'}} */
    font-size: 3px;
    overflow: hidden;
    width: 100px;
    max-height: 50px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
    border-style: solid;
    border-color: #288BA8;
    border-width: thin;
    padding: 3px;
  }
  
  .location_icon {
    max-height: 20px !important;
    max-width: 20px !important;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .container2{
    display: flex;
    /* 排版方向 */
    flex-direction: row; 
    /* 水平方向對齊模式 */
    /* justify-content: center;   */
    /* 垂直方向對齊模式  */
    /* align-items: center;  */
  }
  
  .map{
    height: 95vh;
    width: 100vw;
  }
  
  .searchbar{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin: 10px 0;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 18px;
    color: #1f7357e7;
    /* font-weight: 500; */
  }
  
  .info_sidebar{
    display: block;
    margin-right: 5px;
    padding: 8px;
    overflow: auto;
    width: 600px;
    height: 700px;
  }

  .card{
    border: 1.5px solid rgb(210, 207, 207);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin:10px 0px;
  }
    
  #name, #pos {
    display: flex;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    box-shadow: #00000029 1px 1px 5px;
    background-color: #fcf7e2;
    color: #1f7357e7;
    padding: 0.4vh 0.4vw;
    margin-left: 8px;
    height: fit-content;
  }
  
  #location {
    margin-right: 8px;
    border: 6px;
    /* border-radius: 10px; */
    box-shadow: #00000029 1px 1px 5px;
    /* border-width: 1.5px; */
  }

  .select-box {
    margin: 0 8px;
    width: fit-content;
    /* border-width: 1.5px; */
  }

  .other_tag {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border: none;
    margin-left: 0.4vw;
    
  } 

  label{
    margin: 3px 5px 0 1px;
    width: fit-content;
  }

  .badges {
    display: flex;
    flex-direction: row;
  }

  .badges > button {
    display: flex;
    flex-shrink: 1;
    background-color: #FFFFFF;
    border: none;
  }

  .badges > button > img {
    display: flex;
    flex-shrink: 1;
    width: 36px;
    padding: 0;
    margin: 0;
    /* margin-left: 0.4vw; */
  }