.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.location_name {
  /* style={{width: '50px', textAlign: 'center', backgroundColor:'#FFFFFF', border:'solid 1px #288BA8'}} */
  font-size: 3px;
  overflow: hidden;
  width: 100px;
  max-height: 50px;
  background-color: #FFFFFF;
  opacity: 0.8;
  border-radius: 10px;
  border-style: solid;
  border-color: #288BA8;
  border-width: thin;
  padding: 3px;
}

.location_icon {
  max-height: 20px !important;
  max-width: 20px !important;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}