ul{
    list-style: none;
}

.wrap{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    background-color: #61a0f8;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.mark {
    flex: 0 0 30%;
    background-color: #f08bc3;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 1px solid white;
}