<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>SDGMap: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <form action="/" method="post">
            <div>
                <input type="text" placeholder="Search by radius" name="radius_search">
                <button type="submit">Search</button>
            </div>
        </form>
        <form action="/" method="post">
            <div>
                <input type="text" placeholder="Search by name" name="name_search">
                <button type="submit">Search</button>
            </div>
        </form>
        <form action="/" method="post">
            <div>
                <input type="text" placeholder="Search by anything" name="arbitrary_search">
                <button type="submit">Search</button>
            </div>
        </form>
        <main>
            {{info}}
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
